table {
    border: 5px solid black;
    margin-top: 25px;
}

td {
    width: 100px;
    height: 100px;
    border: 5px solid black;
    background-color: blue;
}

td:hover {
    background-color: orange;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

